html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: LightGray;
	font-family: "Roboto", sans-serif;
}

/* Navigation Section */

.top-navigation {
	background-color: #fff;
	height: 4.375rem;
	
}

.content {
	width: 60rem;
	margin: 0 auto;
	padding: 0px 15px;
}

.top-navigation .content > .logo {
	height: 4.375rem;
}

.top-navigation .links {
	float: right;
	margin-top: 1.6875rem;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.links > li {
	display: inline-block;
	padding-left: 1.5rem;
	transition: color 0.2s ease,
				font-weight 0.2s ease;
}

.links > li:hover {
	color: #4c5058;
	font-weight: 400;
	cursor: pointer;
}

/* Introduction Section */

.introduction {
	background-image: url("../images/first-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	text-align: center;
	overflow: auto;
}

.introduction h1 {
	font-size: 3.125rem;
	margin-top: 17.5rem;
	margin-bottom: 0rem;
}

.introduction h3 {
	font-size: 1.563rem;
	margin-top: 1.25rem;
	margin-bottom: 1.563rem;
}

.introduction .content > h1,
.introduction .content > h3 {
	color: white;
	font-weight: 300;
}

button {
	background-color: #f15a29;
	border: none;
	padding: 1rem 1.5rem;
	color: white;
	font-weight: 400;
	border-radius: 0.25rem;
	font-size: 1.125rem;
	text-shadow: none;
	transition: color 0.2s ease;
} 

button:hover {
	background-color: #d9400e;
	cursor: pointer;
}